*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.page-action-cont{
    height: 3rem;
    background-color: #5ac5ef;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
}
.page-action{
    margin: 0.5rem;
    color: #f1f2f6;
}

.cell-action-cont{
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.cell-action-cont >*{
    display: inline-block;
    padding-right: 1rem;

}
.font-family-prop{
    padding: 0.2rem;
    margin-right: 1rem;
}
.font-size-prop{
    padding: 0.2rem;
    margin-right: 1rem;
}
.cell-action-cont >select{
    border: none;
    border-radius: 1px;
    outline: none;
}

.formula-action-cont{
    height: 2rem;
    background-color: #ecf0f1;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    
}
.formula-action-cont> *{
    display: inline-block;
    margin-right: 0.7rem;
}
.formula-icon{
    /* height: 1rem; */
    height: 1.2rem;
    width: 1rem;
}   
.formula-bar{
    width: calc(100vw - 5rem - 2.1rem);
}
.address-bar{
    width: 5rem;
} 

.formula-action-cont >input{
    border: none;
    outline: none;
    height: 70%;
}

.sheet-cont{
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding: 0px 0.5rem;
    gap: 1rem;
}
.sheet-cont>*{
    display: inline-block;
    
}
.sheet-add-icon{
    width: 2vw;
    
}
.sheet-folder-cont{
    height: 70%;
    width: 5rem;
    background-color: #ecf0f1;
    width: calc(100vw - 2vw);
    /* display: inline-block; */
    display: flex;
    align-items: center;
}
.sheet-folder{
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
    font-size: 0.9rem;
    
}

.grid-cont{
    height: calc( 100vh - 11rem );
    position: relative;
    overflow: scroll;
    background-color: #ecf0f1;
}
/*  fixed box  */
.top-left-dummy-box{
    height: 2rem;
    width: 2rem;
    background-color: #747d84;
    position: fixed;
    z-index: 1;
}
.address-col-cont{
    
    /* background-color: lightblue; */
    position: sticky;
    top: 2rem;
    left: 0;
}
.address-row-cont{
    /* height: 2rem; */
    display: flex;
    position: sticky;
    top: 0;
    left: 2rem;

}
.cells-cont{
    position: absolute;
    top: 0;
    left: 2rem;
}
.address-col{
    height: 2rem;
    width: 2rem;
    text-align: center;
    border: 1px solid #dfe4ea;
    display: flex;
    align-items: center;
    justify-content: center;
}
.address-row{
    height: 2rem;
    width: 5rem;
    text-align: center;
    border: 1px solid #dfe4ea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-cont{
    display: flex;
}
.cell{
    height: 2rem;
    width: 5rem;
    border: 1px solid #dfe4ea;
    outline: none;
}
